{% style %}
  #custom-image-text-3-{{ block.id }} {
	background-color: {{ block.settings.bg_color }};
	color: {{ block.settings.text_color }};
  }
{% endstyle %}

<div class="index-section custom-image-text-3 {% if block.settings.increased_padding %} increased-padding{% endif %} {% if block.settings.disable_margin %} disable-margin{% endif %}" id="custom-image-text-3-{{ block.id }}">
  <div class="page-width">
    {% capture image_layout %}
      <div class="feature-row__item">
        <div style="margin: 0 auto; max-width: 100%;">
          {% if block.settings.image != blank %}
            <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.image.aspect_ratio }}%;">
              {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <img class="feature-row__image lazyload"
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 720, 900, 1080]"
                  data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ block.settings.image.alt }}">
            </div>
          {% else %}
            <div class="image-wrap">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {% endif %}
        </div>
      </div>
    {% endcapture %}

    <div class="feature-row" data-aos>
      {% if block.settings.layout == 'left' %}
        {{ image_layout }}
      {% endif %}

      <div class="feature-row__item feature-row__text feature-row__text--{{ block.settings.layout }} larger-text">
        {% if block.settings.title != blank %}
          <h2 class="h3">{{ block.settings.title | escape }}</h2>
        {% endif %}
        {% if block.settings.text != blank %}
          <div class="rte featured-row__subtext">
            {{ block.settings.text }}
            
            {% if block.settings.email != blank %}
            <img class="creative-icon" src="{{ "envelope.svg" | asset_url }}" alt="Envelope icon" /> {{ block.settings.email }}<br /><br />
            {% endif %}
            
            {% if block.settings.address != blank %}
            <img class="creative-icon" src="{{ "map-marker-alt.svg" | asset_url }}" alt="Map marker icon" /> {{ block.settings.address }}
            {% endif %}
          </div>
        {% endif %}
      </div>

      {% if block.settings.layout == 'right' %}
        {{ image_layout }}
      {% endif %}
    </div>
  </div>
</div>
