<div class="banner-with-text">
  <div class="banner-image" style="background-image: url({{ section.settings.image | img_url: 'large' }});"></div>
  
  <div class="banner-text">
    <div class="banner-text-inner">
      {% if section.settings.subtitle != blank %}
      	<div class="subtitle">{{ section.settings.subtitle }}</div>
      {% endif %}
      {% if section.settings.title != blank %}
      	<h2>{{ section.settings.title | escape }}</h2>
      {% endif %}
      {% if section.settings.text != blank %}
      	<div class="rte">{{ section.settings.text }}</div>
      {% endif %}
      {% if section.settings.button_label != blank %}
      	<a href="{{ section.settings.button_link }}" class="btn btn--inverse">{{ section.settings.button_label }}</a>
      {% endif %}
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Banner with text",
    "class": "index-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subheading",
        "default": "Improved"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Banner with text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to tell a story, explain a detail about your product, or describe a new promotion.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label",
        "default": "Optional button"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Banner with text",
        "category": "Image"
      }
    ]
  }
{% endschema %}
